<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TrainingContext" connectionString="datasource:(localdb)\MSSQLLocalDB;initial catalog:Training;integrated security:true" providerName="System.Data.SQLClient" />
    </connectionStrings>
</configuration>